robotframework==7.4.2
robotframework-browser==19.14.2
robotframework-requests==0.9.7
robotframework-jsonlibrary==0.5
robotframework-debuglibrary
robotframework-robocop==8.2.3
pyyaml==6.0.3
pre-commit==4.5.1
